{% extends 'base.html' %}
{% block content %}

     
    <section id="section-one">
    <h2>How to ask <hr></h2>
   <p>Welcome to Student discussion forum <br>
We'd love to help you, but the reality is that not every question gets answered. To 
improve your chances, here are some tips:
<h2>Search and research</h2> <br>
Have you thoroughly searched for an answer before asking your question? Sharing your research helps everyone.
Tell us what you found (on this site or elsewhere) and why it did not meet your needs. This demonstrates that you've taken the time to try to help yourself, it saves us from reiterating obvious answers, and above all, it helps you get a more specific and relevant
answer!. You will do all your search in the search  box below then click on the search button.  </p>
<input class="search" type="text" value="" autocomplete="off">
<input class="search-button" type="button" value="search" data-gps-track="howtoask.searchclick">
<h4>Try to search anything and see the results</h4> 
<h2>Be on topic</h2>
<p>Each group is defined by a specific course and therefore asking something not related to your course will make it difficult for your friends to answer you.
 If your question is about the site itself, You can go to the about button or contact one of our team. 
 If you are looking for a different topic, it might be covered with your team group or search for help from your team group.   
</p>
 <h2>Be specific</h2>
<p>If you ask a vague question, you’ll get a vague answer. But if you give your team details and context, they can provide a useful, relevant answer.
</p>
<h2>Make it relevant to others</h2>
 <p>
    We like to help as many people at a time as we can. Make it clear how your question is relevant to more people than just you, and more of us will be interested in your question and willing to look into it.</p>
<h2>Keep an open mind</h2>
    <p>
    The answer to your question may not always be the one you wanted, but that doesn’t mean it is wrong. A conclusive answer isn’t always possible. When in doubt, ask people to cite their sources, or to explain how/where they learned something. Even if we don’t agree with you, or tell you exactly what you wanted to hear, remember: we’re just trying to help.</p>

</section>
{% endblock %}